## Python

In [5]:
text8 = '   A quick brown fox jump over the lazy dog.  '

In [6]:
text8.split(' ')

['',
 '',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jump',
 'over',
 'the',
 'lazy',
 'dog.',
 '',
 '']

In [13]:
text9 = text8.strip()
text9

'A quick brown fox jump over the lazy dog.'

In [14]:
text10 = text8.rstrip()
text10

'   A quick brown fox jump over the lazy dog.'

In [15]:
text11 = text8.lstrip()
text11

'A quick brown fox jump over the lazy dog.  '

### find and replace

In [17]:
text9

'A quick brown fox jump over the lazy dog.'

In [20]:
text9.find('o')
#first o from left

10

In [21]:
text9.rfind('o')
#first o from right

38

In [22]:
text9.replace('o','O')

'A quick brOwn fOx jump Over the lazy dOg.'

In [64]:
f=open('UNDHR.txt','r')

In [65]:
f.readline()

"Brian O'Driscoll is an Irish international rugby union player who retired at the end of the 2013â€“14 season He is a former captain of Ireland and also captained the British and Irish Lions. O'Driscoll, who spent the majority of his career playing at centre\n"

In [66]:
f.seek(0)

0

In [67]:
text12=f.read()
text12

'Brian O\'Driscoll is an Irish international rugby union player who retired at the end of the 2013â€“14 season He is a former captain of Ireland and also captained the British and Irish Lions. O\'Driscoll, who spent the majority of his career playing at centre\n made 133 appearances for Ireland, scoring 46 triesâ€”an Irish record.[3] In addition to this he made eight appearances for the Lions and scored one try, which occurred during the Lions\' victory over Australia on the 2001 tour.[4] As of February 2018, and with a combined total\nof 47 international tries, O\'Driscoll sits eighth on the all-time record list,[5] and is also top of the all-time try-scoring list for the Six Nations with In addition, he retired with 141 caps in all, which at that time was the most in the sport\'s history (this record has since\n been surpassed by Richie McCaw of New Zealand [148 caps], Sergio Parisse of Italy [142] and Alun Wyn Jones of Wales O\'Driscoll made his international debut on 12 June 1999 against Australia at the Ballymore Stadium in Brisbane. He scored his first try for Ireland\n during his fourth match, against the United States in the 1999 Rugby World Cup at Lansdowne Road.[8] It was the first of 19 tries O\'Driscoll scored there (including 2 after the venue was redeveloped as the Aviva Stadium) which, as of February 2018, is a record.[9] O\'Driscoll went on to score tries\n in the 2003, 2007 and 2011 Rugby World Cup tournaments. His 33rd international try earned him the IRPA Try of the Year award in 2008 for a team try scored during Ireland\'s 18â€“12 defeat against Australia. Starting from a lineout inside their own 22, Ireland caught their own kick as they moved up to\n the halfway line. An exchange of passes culminated with O\'Driscoll receiving the ball 9 metres (10 yd) out before scoringO\'Driscoll scored multiple tries in a single international on six occasions, included in these were two hat-tricks. The first of these was scored against\n France during the 2000 Six Nations and the second came against Scotland in the 2002 Six Nations. O\'Driscoll, who scored tries against all of the "Tier 1" nations, was most prolific against\n France, scoring'

In [68]:
len(text12)

2165

In [69]:
text13=text12.splitlines()

In [70]:
text13

["Brian O'Driscoll is an Irish international rugby union player who retired at the end of the 2013â€“14 season He is a former captain of Ireland and also captained the British and Irish Lions. O'Driscoll, who spent the majority of his career playing at centre",
 " made 133 appearances for Ireland, scoring 46 triesâ€”an Irish record.[3] In addition to this he made eight appearances for the Lions and scored one try, which occurred during the Lions' victory over Australia on the 2001 tour.[4] As of February 2018, and with a combined total",
 "of 47 international tries, O'Driscoll sits eighth on the all-time record list,[5] and is also top of the all-time try-scoring list for the Six Nations with In addition, he retired with 141 caps in all, which at that time was the most in the sport's history (this record has since",
 " been surpassed by Richie McCaw of New Zealand [148 caps], Sergio Parisse of Italy [142] and Alun Wyn Jones of Wales O'Driscoll made his international debut on 12 June 1999 against Australia at the Ballymore Stadium in Brisbane. He scored his first try for Ireland",
 " during his fourth match, against the United States in the 1999 Rugby World Cup at Lansdowne Road.[8] It was the first of 19 tries O'Driscoll scored there (including 2 after the venue was redeveloped as the Aviva Stadium) which, as of February 2018, is a record.[9] O'Driscoll went on to score tries",
 " in the 2003, 2007 and 2011 Rugby World Cup tournaments. His 33rd international try earned him the IRPA Try of the Year award in 2008 for a team try scored during Ireland's 18â€“12 defeat against Australia. Starting from a lineout inside their own 22, Ireland caught their own kick as they moved up to",
 " the halfway line. An exchange of passes culminated with O'Driscoll receiving the ball 9 metres (10 yd) out before scoringO'Driscoll scored multiple tries in a single international on six occasions, included in these were two hat-tricks. The first of these was scored against",
 ' France during the 2000 Six Nations and the second came against Scotland in the 2002 Six Nations. O\'Driscoll, who scored tries against all of the "Tier 1" nations, was most prolific against',
 ' France, scoring']

## Regular Expressions

In [11]:
text1 = "Ethics @are built right into the ideals@ and4 @objectives of the #United 4Nations. 4IJ @@@ @I love@  @# @07 ittr @"

In [12]:
import re
[w for w in text1.split() if re.search('@[A-Za-z0-9_]+',w)]

['@are', '@objectives', '@I', '@07']

In [214]:
[w for w in text1.split() if re.search('it|th|#\w+',w)]

['Ethics', 'the', 'the', '#United', 'ittr']

In [215]:
[w for w in text1.split() if re.search('^i\w*',w)]

['into', 'ideals@', 'ittr']

In [222]:
[w for w in text1.split() if re.search('4\w?',w)]

['and4', '4Nations.', '4IJ']

In [225]:
[w for w in text1.split() if re.findall('4\w*',w)]

['and4', '4Nations.', '4IJ']

## Regular Expression for dates

In [39]:
dateStr = '19-12-1996\n19/12/1996\n19/12/96\n12/19/1996\n19 Dec 1996\n19 December 1996\nDec 19, 1996\nDecember 19, 1996\n'

In [40]:
dateStr

'19-12-1996\n19/12/1996\n19/12/96\n12/19/1996\n19 Dec 1996\n19 December 1996\nDec 19, 1996\nDecember 19, 1996\n'

In [15]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}',dateStr)

['19-12-1996', '19/12/1996', '12/19/1996']

In [20]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{2,4}',dateStr)

['19-12-1996', '19/12/1996', '19/12/96', '12/19/1996']

In [21]:
re.findall(r'\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',dateStr)

['Dec']

In [22]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',dateStr)

['19 Dec 1996']

In [31]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}',dateStr)

['19 Dec 1996', '19 December 1996']

In [43]:
re.findall(r'(?:\d{2})? (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}',dateStr)

['19 Dec 1996', '19 December 1996']

# Working with Text Data in pandas

In [45]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [46]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [47]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [48]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [49]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [50]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [51]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [52]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [53]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [54]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [55]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [56]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

### Basic Natural Language Processing

### normalization and stemming

In [3]:
import nltk

In [21]:
input1 = "List listed lists listing listings specialization"
words1 = input1.lower().split(' ')
words1

['list', 'listed', 'lists', 'listing', 'listings', 'specialization']

In [22]:
porter = nltk.PorterStemmer()
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list', 'special']

### Lemmatization

In [26]:
udhr_files = nltk.corpus.udhr.fileids()

In [27]:
udhr_files[:5]

['Abkhaz-Cyrillic+Abkh',
 'Abkhaz-UTF8',
 'Achehnese-Latin1',
 'Achuar-Shiwiar-Latin1',
 'Adja-UTF8']

In [40]:
udhr = nltk.corpus.udhr.words('English-Latin1')
print(udhr[0:20])

['Universal', 'Declaration', 'of', 'Human', 'Rights', 'Preamble', 'Whereas', 'recognition', 'of', 'the', 'inherent', 'dignity', 'and', 'of', 'the', 'equal', 'and', 'inalienable', 'rights', 'of']

In [36]:
print([porter.stem(word) for word in udhr[:20]])

['univers', 'declar', 'of', 'human', 'right', 'preambl', 'wherea', 'recognit', 'of', 'the', 'inher', 'digniti', 'and', 'of', 'the', 'equal', 'and', 'inalien', 'right', 'of']

In [39]:
wnLemma = nltk.WordNetLemmatizer()
print([wnLemma.lemmatize(word) for word in udhr[:20]])

['Universal', 'Declaration', 'of', 'Human', 'Rights', 'Preamble', 'Whereas', 'recognition', 'of', 'the', 'inherent', 'dignity', 'and', 'of', 'the', 'equal', 'and', 'inalienable', 'right', 'of']

### Tokenization

In [41]:
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [44]:
print(nltk.word_tokenize(text11))

['Children', 'should', "n't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed', '.']

In [57]:
text12 = "This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!"
sentences = nltk.sent_tokenize(text12)
print(len(sentences))
print(sentences)

4
['This is the first sentence.', 'A gallon of milk in the U.S. costs $2.99.', 'Is this the third sentence?', 'Yes, it is!']

##  Advanced NLP Tasks with NLTK

### POS tagging

In [58]:
nltk.help.upenn_tagset('RB')

RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...

In [59]:
text13 = nltk.word_tokenize(text11)
nltk.pos_tag(text13)

[('Children', 'NNP'),
 ('should', 'MD'),
 ("n't", 'RB'),
 ('drink', 'VB'),
 ('a', 'DT'),
 ('sugary', 'JJ'),
 ('drink', 'NN'),
 ('before', 'IN'),
 ('bed', 'NN'),
 ('.', '.')]

In [60]:
text14 = nltk.word_tokenize('Visiting aunts can be a nuisance')
nltk.pos_tag(text14)

[('Visiting', 'VBG'),
 ('aunts', 'NNS'),
 ('can', 'MD'),
 ('be', 'VB'),
 ('a', 'DT'),
 ('nuisance', 'NN')]

In [69]:
# parsing sentence structure
text15 = nltk.word_tokenize('Alice loves Bob')
grammer = nltk.CFG.fromstring("""
S -> NP VP
VP -> V NP
NP -> 'Alice' | 'Bob'
V -> 'loves'
""")

In [70]:
parser = nltk.ChartParser(grammer)
trees = parser.parse_all(text15)
for tree in trees:
    print (tree)

(S (NP Alice) (VP (V loves) (NP Bob)))

In [74]:
from nltk.corpus import treebank
text17 = treebank.parsed_sents('wsj_0001.mrg')[0]
print(text17)

(S
  (NP-SBJ
    (NP (NNP Pierre) (NNP Vinken))
    (, ,)
    (ADJP (NP (CD 61) (NNS years)) (JJ old))
    (, ,))
  (VP
    (MD will)
    (VP
      (VB join)
      (NP (DT the) (NN board))
      (PP-CLR (IN as) (NP (DT a) (JJ nonexecutive) (NN director)))
      (NP-TMP (NNP Nov.) (CD 29))))
  (. .))

In [77]:
text18 = nltk.word_tokenize("The old man the boat")
nltk.pos_tag(text18)

[('The', 'DT'), ('old', 'JJ'), ('man', 'NN'), ('the', 'DT'), ('boat', 'NN')]

In [78]:
text19 = nltk.word_tokenize("Colorless green ideas sleep furiously")
nltk.pos_tag(text19)

[('Colorless', 'NNP'),
 ('green', 'JJ'),
 ('ideas', 'NNS'),
 ('sleep', 'VBP'),
 ('furiously', 'RB')]

# Classification Text

# Naive Bayes Classifiers

In [1]:
from sklearn import naive_bayes

In [6]:
# clfrNB = naive_bayes.MultinomialNB()
# clfrNB.fit(train_data,train_labels)
# predicted_labels = clfr.predict(test_data)
# metrics.f1_score(test_labels,predicted_labels,average='micro')

# SVM

In [15]:
# from sklearn import svm
# clfrSVM = svm.SVC(kernel='linear',c=0.1)
# clfrSVM.fit(train_data,train_labels)
# predicted_labels = clfrSVM.predict(test_data)

# Model Selcetion

In [16]:
# from sklearn import model_selection
# x_train , x_test , y_train , y_test = model_selection.train_test_split
# (train_data,train_labels,test_size=0.333,random_state=0)
# predicted_labels = model_selection.cross_val_predict(clfrSVM, train_data, train_labels,cv=5)

## NLTK Classifier

In [18]:
import nltk
from nltk.classify import NaiveBayesClassifier

In [19]:
# classifier = NaiveBayesClassifier.train(train_set)
# classifier.classify(unlabeled_instance)
# classifier.classify_many(unlabeled_instances)
# nltk.classify.util.accuracy(classifier, test_set)
# classifier.labels()
# classifier.show_most_informative_features()

In [20]:
# from nltk.classify import SklearnClassifier
# from sklearn.naive_bayes import MultinomialNB
# from sklearn.svm import SVC
# clfrNB = SklearnClassifier(MultinomialNB()).train(train_set)
# clfrSVM = SklearnClassifier(SVC(),kernal='linear'.train(train_set))

# Case Study: Sentiment Analysis

In [22]:
import pandas as pd
import numpy as np

# Read in the data
df = pd.read_csv('Amazon_Unlocked_Mobile.csv')

# Sample the data to speed up computation
# Comment out this line to match with lecture
df = df.sample(frac=0.1, random_state=10)

df.head()

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes
394349,Sony XPERIA Z2 D6503 FACTORY UNLOCKED Internat...,NaN,244.95,5,Very good one! Better than Samsung S and iphon...,0.0
34377,Apple iPhone 5c 8GB (Pink) - Verizon Wireless,Apple,194.99,1,"The phone needed a SIM card, would have been n...",1.0
248521,Motorola Droid RAZR MAXX XT912 M Verizon Smart...,Motorola,174.99,5,I was 3 months away from my upgrade and my Str...,3.0
167661,CNPGD [U.S. Office Extended Warranty] Smartwat...,CNPGD,49.99,1,an experience i want to forget,0.0
73287,Apple iPhone 7 Unlocked Phone 256 GB - US Vers...,Apple,922.00,5,GREAT PHONE WORK ACCORDING MY EXPECTATIONS.,1.0

In [23]:
# Drop missing values
df.dropna(inplace=True)

# Remove any 'neutral' ratings equal to 3
df = df[df['Rating'] != 3]

# Encode 4s and 5s as 1 (rated positively)
# Encode 1s and 2s as 0 (rated poorly)
df['Positively Rated'] = np.where(df['Rating'] > 3, 1, 0)
df.head(10)

,Product Name,Brand Name,Price,Rating,Reviews,Review Votes,Positively Rated
34377,Apple iPhone 5c 8GB (Pink) - Verizon Wireless,Apple,194.99,1,"The phone needed a SIM card, would have been n...",1.0,0
248521,Motorola Droid RAZR MAXX XT912 M Verizon Smart...,Motorola,174.99,5,I was 3 months away from my upgrade and my Str...,3.0,1
167661,CNPGD [U.S. Office Extended Warranty] Smartwat...,CNPGD,49.99,1,an experience i want to forget,0.0,0
73287,Apple iPhone 7 Unlocked Phone 256 GB - US Vers...,Apple,922.00,5,GREAT PHONE WORK ACCORDING MY EXPECTATIONS.,1.0,1
277158,Nokia N8 Unlocked GSM Touch Screen Phone Featu...,Nokia,95.00,5,I fell in love with this phone because it did ...,0.0,1
100311,Blackberry Torch 2 9810 Unlocked Phone with 1....,BlackBerry,77.49,5,I am pleased with this Blackberry phone! The p...,0.0,1
251669,Motorola Moto E (1st Generation) - Black - 4 G...,Motorola,89.99,5,"Great product, best value for money smartphone...",0.0,1
279878,OtterBox 77-29864 Defender Series Hybrid Case ...,OtterBox,9.99,5,I've bought 3 no problems. Fast delivery.,0.0,1
406017,Verizon HTC Rezound 4G Android Smarphone - 8MP...,HTC,74.99,4,Great phone for the price...,0.0,1
302567,"RCA M1 Unlocked Cell Phone, Dual Sim, 5Mp Came...",RCA,159.99,5,My mom is not good with new technoloy but this...,4.0,1

In [24]:
# Most ratings are positive
df['Positively Rated'].mean()

0.7471776686078667

In [26]:
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(df['Reviews'],df['Positively Rated'],random_state=0)

In [27]:
print('X_train first entry:\n\n', X_train.iloc[0])
print('\n\nX_train shape: ', X_train.shape)

X_train first entry:

 Everything about it is awesome!


X_train shape:  (23052,)

## CountVectorizer

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

# Fit the CountVectorizer to the training data
vect = CountVectorizer().fit(X_train)

In [31]:
vect

CountVectorizer()

In [38]:
vect.get_feature_names()[5000:5007]

['debo', 'deboted', 'debris', 'debugging', 'debunk', 'debunking', 'debuted']

In [39]:
len(vect.get_feature_names())

19601

In [40]:
# transform the documents in the training data to a document-term matrix
X_train_vectorized = vect.transform(X_train)

X_train_vectorized

<23052x19601 sparse matrix of type '<class 'numpy.int64'>'
	with 613289 stored elements in Compressed Sparse Row format>

In [46]:
from sklearn.linear_model import LogisticRegression

# Train the model
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

D:\SOFTWARES DATA SCIENCE\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [47]:
from sklearn.metrics import roc_auc_score

# Predict the transformed test documents
predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.8971724988074055

In [48]:
# get the feature names as numpy array
feature_names = np.array(vect.get_feature_names())

# Sort the coefficients from the model
sorted_coef_index = model.coef_[0].argsort()

# Find the 10 smallest and 10 largest coefficients
# The 10 largest coefficients are being indexed using [:-11:-1] 
# so the list returned is in order of largest to smallest
print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['worst' 'terrible' 'slow' 'junk' 'sucks' 'waste' 'poor' 'useless' 'broke'
 'disappointed']

Largest Coefs:
['excelent' 'excelente' 'perfectly' 'excellent' 'love' 'perfect' 'exactly'
 'great' 'best' 'awesome']

## Tfidf

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit the TfidfVectorizer to the training data specifiying a minimum document frequency of 5
vect = TfidfVectorizer(min_df=5).fit(X_train)
len(vect.get_feature_names())

1468

In [53]:
X_train_vectorized = vect.transform(X_train)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

NameError: name 'LogisticRegression' is not defined

In [ ]:
feature_names = np.array(vect.get_feature_names())

sorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()

print('Smallest tfidf:\n{}\n'.format(feature_names[sorted_tfidf_index[:10]]))
print('Largest tfidf: \n{}'.format(feature_names[sorted_tfidf_index[:-11:-1]]))

In [60]:
sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['not' 'slow' 'disappointed' 'worst' 'terrible' 'never' 'return' 'doesn'
 'horrible' 'waste']

Largest Coefs:
['great' 'love' 'excellent' 'good' 'best' 'perfect' 'price' 'awesome'
 'far' 'perfectly']

In [78]:
# These reviews are treated the same by our current model
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))

[1 0]

# n-grams

In [74]:
# Fit the CountVectorizer to the training data specifiying a minimum 
# document frequency of 5 and extracting 1-grams and 2-grams
vect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)

X_train_vectorized = vect.transform(X_train)

len(vect.get_feature_names())

29072

In [75]:
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

D:\SOFTWARES DATA SCIENCE\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

AUC:  0.9105509624579173

In [76]:
feature_names = np.array(vect.get_feature_names())

sorted_coef_index = model.coef_[0].argsort()

print('Smallest Coefs:\n{}\n'.format(feature_names[sorted_coef_index[:10]]))
print('Largest Coefs: \n{}'.format(feature_names[sorted_coef_index[:-11:-1]]))

Smallest Coefs:
['no good' 'junk' 'poor' 'slow' 'worst' 'broken' 'not good' 'terrible'
 'defective' 'horrible']

Largest Coefs:
['excellent' 'excelente' 'perfect' 'excelent' 'great' 'love' 'awesome'
 'no problems' 'good' 'best']

In [77]:
# These reviews are now correctly identified
print(model.predict(vect.transform(['not an issue, phone is working',
                                    'an issue, phone is not working'])))

[1 0]

# Project detecting a message spam or not.

In [12]:
import pandas as pd
import numpy as np

spam_data = pd.read_csv('spam.csv',encoding='latin-1')

In [18]:
spam_data.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)
spam_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
spam_data['target'] = np.where(spam_data['v1']=='spam',1,0)
spam_data.head(10)

     v1                                                 v2  target
0   ham  Go until jurong point, crazy.. Available only ...       0
1   ham                      Ok lar... Joking wif u oni...       0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...       1
3   ham  U dun say so early hor... U c already then say...       0
4   ham  Nah I don't think he goes to usf, he lives aro...       0
5  spam  FreeMsg Hey there darling it's been 3 week's n...       1
6   ham  Even my brother is not like to speak with me. ...       0
7   ham  As per your request 'Melle Melle (Oru Minnamin...       0
8  spam  WINNER!! As a valued network customer you have...       1
9  spam  Had your mobile 11 months or more? U R entitle...       1

In [20]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(spam_data['v2'], 
                                                    spam_data['target'], 
                                                    random_state=0)

In [43]:
def percentageSpam():
    per = (spam_data['target'].sum()/len(spam_data))*100
    
    return per

In [44]:
percentageSpam()

13.406317300789663

### CountVectorizer

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
vect  = CountVectorizer().fit(X_train)

In [45]:
# the longest word
def longest_token():
    my_list = vect.get_feature_names()
    long=''
    for i in my_list:
        if len(i)>len(long):
            long=i
    
    return long

In [46]:
longest_token()

'com1win150ppmx3age16subscription'

### Naive Bayes Multinomial

In [47]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_auc_score
x_train_vectorized = vect.transform(X_train)
x_train_vectorized

<4179x7354 sparse matrix of type '<class 'numpy.int64'>'
	with 55130 stored elements in Compressed Sparse Row format>

In [49]:
def Multinomial_roc():
    X_train_vectorized = vect.transform(X_train)
    clfNB = MultinomialNB(alpha=0.1)
    clfNB.fit(X_train_vectorized,y_train)
    predicted_labels = clfNB.predict(vect.transform(X_test))
    rocg = roc_auc_score(y_test,predicted_labels,average='macro')
    
    return (rocg)

In [50]:
Multinomial_roc()

0.9720812182741116

### tfidf vectorizer

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer().fit(X_train)
X_train_vectorized = vect.transform(X_train)

def TFIDF_WAY():
    feature_names = np.array(vect.get_feature_names())
    sorted_tfidf_index = X_train_vectorized.max(0).toarray()[0].argsort()
    smallest_tfidf = feature_names[sorted_tfidf_index[0:20]]
    largest_tfidf = feature_names[sorted_tfidf_index[-21:-1]]    
    return (smallest_tfidf, largest_tfidf)

In [71]:
TFIDF_WAY()

(array(['sympathetic', 'healer', 'aaniye', 'dependable', 'companion',
        'listener', 'athletic', 'exterminator', 'psychiatrist', 'pest',
        'determined', 'chef', 'courageous', 'stylist', 'psychologist',
        'organizer', 'pudunga', 'venaam', 'diwali', 'mornings'],
       dtype='<U32'),
 array(['same', 'blank', 'tick', '645', 'done', 'too', 'anytime',
        'beerage', 'where', 'ok', 'thank', 'yup', 'nite', 'lei',
        'anything', 'er', 'thanx', 'okie', 'home', 'havent'], dtype='<U32'))

In [72]:
def AUC_TFIDF():
    vect= TfidfVectorizer(min_df=3).fit(X_train)
    mulNB = MultinomialNB(alpha=0.1)
    X_train_vectorized = vect.transform(X_train)
    mulNB.fit(X_train_vectorized,y_train)
    prediction = mulNB.predict(vect.transform(X_test))
    AUC = roc_auc_score(y_test,prediction)
    return (AUC)

In [73]:
AUC_TFIDF()

0.9416243654822335

### average length not spam, average length spam

In [76]:
def length():
    avg_length_notSpam = sum([len(x) for x in spam_data[spam_data['target']==0]['v2']])/len(spam_data[spam_data['target']==0])
    avg_length_Spam = sum([len(x) for x in spam_data[spam_data['target']==1]['v2']])/len(spam_data[spam_data['target']==1])

    return (avg_length_notSpam,avg_length_Spam)

In [77]:
length()

(71.02362694300518, 138.8661311914324)