# Strings

In [1]:
print('Hello World')
print("There once was a man named George,")
print("he was 70 years old,")
print("He really liked the name George")
print("but didn's like being 70.")

Hello World
There once was a man named George,
he was 70 years old,
He really liked the name George
but didn's like being 70.

In [2]:
name = "John"
age = "35"
print('Hello World')
print("There once was a man named " + name + ",")
print("he was " + age + " years old,")
print("He really liked the name " + name + ",")
print("but didn't like being " + age + ".")

Hello World
There once was a man named John,
he was 35 years old,
He really liked the name John,
but didn't like being 35.

In [3]:
print('Hello \nWorld')
print('Hello \"World')

Hello
World
Hello "World

In [4]:
name = "Mohammad Zahrawi"
print(name)
print(name.lower())
print(name.upper())

Mohammad Zahrawi
mohammad zahrawi
MOHAMMAD ZAHRAWI

In [5]:
print(len(name))
print(name[0])
print(name.index("Mo"))
print(name.replace('Mohammad', 'Moayad'))

16
M
0
Moayad Zahrawi

# Numbers

In [6]:
my_num = 5
print(str(my_num)+" my favorite number")

5 my favorite number

In [7]:
print(10/3)
print(10%3)

3.3333333333333335
1

In [8]:
num = -6
print(abs(num))
(print(pow(num,2)))

6
36

In [9]:
print(max(10,2,5,11,65,82,10))
print(min(10,2,5,11,65,82,10))
print(round(3.4))
print(round(3.7))
print(round(4.5))

82
2
3
4
4

In [10]:
from math import *
print(ceil(3.1))
print(floor(5.8))
print(sqrt(64))

4
5
8.0

In [11]:
name = input('enter your name')
age = input('enter your age')
print("Hello "+name+", "+"you are "+age)

enter your namef4efe4
enter your agef4e
Hello f4efe4, you are f4e

In [12]:
num1 = input("enter a number")
num2 = input("enter another number")
result = float(num1)+float(num2)
print(result)

enter a number4
enter another number5
9.0

In [13]:
# Mad Libs Game
color=input("enter a color: ")
plural_noun=input("enter a plural noun: ")
celebrity = input("enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

enter a color: red
enter a plural noun: dsd
enter a celebrity: ssw
Roses are red
dsd are blue
I love ssw

# Lists

In [14]:
friends= ["Ahmad", "Omar", "Sarah", "Blaek"]
print(friends)
print(friends[1])

['Ahmad', 'Omar', 'Sarah', 'Blaek']
Omar

In [15]:
print(friends[-1])
print(friends[2])
print(friends[2:])
print(friends[1:2])

Blaek
Sarah
['Sarah', 'Blaek']
['Omar']

In [16]:
friends[0]='Mike'
print(friends)

['Mike', 'Omar', 'Sarah', 'Blaek']

In [17]:
lucky_number=[1,5,8,4,2]
cars = ['Ford','Dodge','BMW','Mercedes','Ferrari']
cars.extend(lucky_number)
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2]

In [18]:
cars.append('Audi')
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']

In [19]:
cars.insert(1,"Nissan")
print(cars)

['Ford', 'Nissan', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']

In [20]:
cars.remove('Nissan')
print(cars)
cars.pop()
print(cars)
print(cars.index("BMW"))

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']
['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2]
2

In [21]:
alphabet = ['a','b','c']
print(alphabet)
alphabet.clear()
print(alphabet)

['a', 'b', 'c']
[]

In [22]:
alphabet = ['a','b','c','a','b','e','dd']
alphabet.sort()
print(alphabet)
print(alphabet.count('a'))
alphabet.reverse()
print(alphabet)

['a', 'a', 'b', 'b', 'c', 'dd', 'e']
2
['e', 'dd', 'c', 'b', 'b', 'a', 'a']

In [23]:
a2=alphabet.copy()
print(a2)

['e', 'dd', 'c', 'b', 'b', 'a', 'a']

# Tubles

In [24]:
coordinates = (4,5,6,'Num')
print(coordinates)
print(coordinates[2])

(4, 5, 6, 'Num')
6

In [25]:
coordinates = [(1,2) , (3 , 4) , (5 , 6)]
coordinates[1] = (9,16)

print(coordinates)

[(1, 2), (9, 16), (5, 6)]

# Functions % If Statement

In [26]:
def say_hi(name,age):
    print('Hello '+name)
    print('you are '+age)
    
say_hi('Mohammad','22')
say_hi('Husni','50')

Hello Mohammad
you are 22
Hello Husni
you are 50

In [27]:
def cube(num):
    return num*num*num
    
print( cube(3) )

27

In [28]:
is_male = True
tall = True
if is_male and tall:
    print('you are a tall male')
elif is_male and not(tall):
    print('you are short male')
elif not(is_male) and (tall):
    print('you are tall female')
else:
    print('you are short female')

you are a tall male

In [29]:
def max_num(num1, num2,num3):
    if num1 >= num2 and num1 >= num2:
        return num1
    elif num2>=num1 and num2 >= num3:
        return num2
    else:
        return num3

max_num(111 , 31 , 9)

111

In [30]:
num1 = float(input('Enter first number'))
num2 = float(input('Enter second number'))
op = input('Enter operator')

if op=='+':
    print (num1+num2)
elif op=="-":
    print (num1-num2)
elif op=='/':
    print(num1/num2)
elif op=='*':
    print(num1*num2)
else:
    print('Invalid operator')

Enter first number3
Enter second number4
Enter operator-
-1.0

# Dictionaries

In [31]:
monthConversion ={
    "Sep":"September",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December"
}
print(monthConversion)

{'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}

In [32]:
print(monthConversion['Sep'])
print(monthConversion.get('Dec','not a valid key'))
print(monthConversion.get('Jann','not a valid key'))

September
December
not a valid key

# while Loop

In [33]:
i = 1
while i <= 10:
    print(i)
    i = i+2

1
3
5
7
9

In [34]:
secret_word = 'giraffe'
guess=''
count_guess = 0
count_limits=3
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    count_guess = count_guess + 1
    if count_guess<=count_limits:
        guess = input('Enter a guess: ')
    else:
        out_of_guesses=True
if out_of_guesses:
    print("you lose!")
else:
    print("you win!")

Enter a guess: grvrr
Enter a guess: vrvr
Enter a guess: vrfr
you lose!

In [35]:
for letter in "ABC Academy":
    print(letter)

A
B
C

A
c
a
d
e
m
y

In [36]:
friends = ['John','Hennry', 'Mark']
for name in friends:
    print(name)

John
Hennry
Mark

In [37]:
for index in range (5):
    print(index)

0
1
2
3
4

In [38]:
for index in range (10 , 14):
    print(index)

10
11
12
13

In [39]:
ABC=['A','B','C','D','E']
for index in range(len(ABC)):
    print(index)

0
1
2
3
4

In [40]:
print(2**4)

16

In [41]:
def raise_to_power(number,power):
    result = 1
    for index in range(power):
        result = result *number
    return result
print(raise_to_power(2,5))

32

# 2D lists

In [42]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
print(number_grid[0])
print(number_grid[1][2])

[1, 2, 3]
6

In [43]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [44]:
def translate(phrase):
    translation = ''
    for letter in phrase:
        if letter =='A':
            translation = translation +'a'
        elif letter =='B':
            translation = translation +'b'
        elif letter == 'C':
                translation = translation + 'c'
        else:
            translation = translation + letter
    return translation

print(translate('MOHAMMAD HAS A NICE CAR'))

MOHaMMaD HaS a NIcE caR

# Comments

In [45]:
# this is a comment

# TRY and EXCEPT

In [46]:
try:
    number = int(input('Enter a number: '))
    print(number)
except:
    print('invalid Input')

Enter a number: 55
55

In [47]:
try:
    number = int(input("enter a number: "))
    print(number)
    10/0
except ValueError:
    print('Invalid number')
except ZeroDivisionError:
    print('can not divide by zero')

enter a number: 55
55
can not divide by zero

# Reading Files

In [48]:
#employees = open("New Text Document.txt", "r")
#print(employees.readable())
#employees.close()

In [49]:
#employees = open("New Text Document.txt", "r")
#print(employees.readline())
#print(employees.readline())
#employees.close()

In [50]:
#employees = open("New Text Document.txt", "r")
#for employee in employees.readlines():
#    print(employee)


#employees.close()

In [51]:
#employees = open("New Text Document.txt", "a")

#employees.write("\nRami is the best one there")

#employees.close()

In [52]:
#employees = open("New Text Document.txt", "w")

#employees.close()

# Modules and Pips

In [53]:
import math
print(math.sin(math.pi))

1.2246467991473532e-16

# Others Notes

In [1]:
#enter string more than 5 words

first,second,*rest,last = input().split()
print(first)
print(second)
print(last)
print(*rest)

a s d f g
a
s
g
d f

In [3]:
for _ in range(3):
    print('Mohammad')

Mohammad
Mohammad
Mohammad

In [4]:
a= 1.3
print("{:.2f}".format(a))

1.30

In [5]:
a='Moh Zah'
for i in range (len(a)):
    if a[i].islower():
        print(a[i])

o
h
a
h

In [6]:
a='Moh Zah'
print(a.lower())
print(a.upper())

moh zah
MOH ZAH

In [34]:
a= 'MMMrrr'
string=' '
for i in range(len(a)):    
    if a[i].islower():
        string=string+a[i].upper()
    elif a[i].isupper():
        string=string+a[i].lower()

        
print(string)

 mmmRRR

In [36]:

def swap_case(s):
    new_string = ' '
    for i in range(len(s)):
        if s[i].isupper():
            new_string=new_string+s[i].lower()
        elif s[i].islower():
            new_string=new_string+s[i].upper()
        else:
            new_string=new_string+s[i]
            
    return new_string



swap_case('Moh')

' mOH'

In [2]:
string = ' Mohammad has a nice car'
split_str = string.split()
print(split_str)
joined_str = "-".join(split_str)
print(joined_str)

['Mohammad', 'has', 'a', 'nice', 'car']
Mohammad-has-a-nice-car

In [1]:
string = 'CDCABCDCDC'
print(string.find('ABC'))

3

In [39]:
txt = ",,,,,rrttgg..gg...banana.g...rgrr"
text = 'google,,,,'

x = txt.strip(",.grt")
xx = text.rstrip(',')

print(x)
print(xx)

banana
google

In [3]:
a = 'd'
b='g'
c='3'
print(a.islower())
print(b.isupper())
print(a.isalpha())
print(a.isalnum())
print(c.isdigit())

True
False
True
True
True

In [41]:
width = 50
print('Alaa'.ljust(width,'-'))
print("Alaa".rjust(width,'-'))
print('Alaa'.center(width,'+'))

Alaa----------------------------------------------
----------------------------------------------Alaa
+++++++++++++++++++++++Alaa+++++++++++++++++++++++

In [51]:
li=['M','O','H','A','M','M','A','D',' ','I','S',' ', 'A',' ','G','E','N','I', 'U','S']
print(''.join(li))

MOHAMMAD IS A GENIUS

# sets

In [2]:
l=[1,1,1,2,2,3,4,5,4,4,4]
print(set(l))

{1, 2, 3, 4, 5}

In [4]:
s = set([1,2,3,4,5,6,7,8,9])
s.pop()
s.remove(9)
s.discard(9)
s.discard(5)
print(s)

{2, 3, 4, 6, 7, 8}

In [8]:
s1 = set('Mohammad')
print(s1.union('Zahrawi'))
print(s1 | set('jackson'))

{'w', 'o', 'Z', 'M', 'i', 'm', 'a', 'h', 'd', 'r'}
{'m', 's', 'a', 'o', 'c', 'k', 'h', 'M', 'd', 'n', 'j'}

In [10]:
s1 = set([1,2,3,4,5,6,7,8,9])
s2 = set([1,2,3,10,11,13])
print(s1.intersection(s2))

{1, 2, 3}

In [11]:
s1 = set([1,2,3,4,5,6,7,8,9])
s2 = set([1,2,3,10,11,13])
print(s1.difference(s2))

{4, 5, 6, 7, 8, 9}

In [2]:
s1 = set([1,2,3,4])
s2 = set([1,2,3,10,11,13])
print(s1.symmetric_difference(s2))

{4, 10, 11, 13}

# Product and Permutations and Combinations

In [3]:
from itertools import product
li=list(product([1,2,3],[4,5]))
print(li)
print(*li,sep='      ')

[(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)]
(1, 4)      (1, 5)      (2, 4)      (2, 5)      (3, 4)      (3, 5)

In [20]:
from itertools import permutations
li = list(permutations([1,2,3]))
second_li = list(permutations([1,2,3],2))
print(li)
print(second_li)
print(list(permutations('MHZ',3)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]
[('M', 'H', 'Z'), ('M', 'Z', 'H'), ('H', 'M', 'Z'), ('H', 'Z', 'M'), ('Z', 'M', 'H'), ('Z', 'H', 'M')]

In [11]:
from itertools import combinations
print(list(combinations('1234',3)))

[('1', '2', '3'), ('1', '2', '4'), ('1', '3', '4'), ('2', '3', '4')]

# Collections

In [6]:
from collections import Counter
myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]
print(Counter(myList))
print(Counter(myList).items())
print(Counter(myList).keys())
print(Counter(myList).values())

Counter({2: 4, 3: 4, 1: 3, 4: 2, 5: 1})
dict_items([(1, 3), (2, 4), (3, 4), (4, 2), (5, 1)])
dict_keys([1, 2, 3, 4, 5])
dict_values([3, 4, 4, 2, 1])

In [4]:
from collections import defaultdict
d = defaultdict(list)
d['python'].append("awesome")
d['something-else'].append("not relevant")
d['python'].append("language")
for i in d.items():
    print (i)

('python', ['awesome', 'language'])
('something-else', ['not relevant'])

# Collection namedtuple

In [9]:
from collections import namedtuple

point = namedtuple('Point','x , y')
firstPoint=point(4,3)
print(firstPoint[0]*firstPoint[1])
print(a.x)

12
4

In [10]:
from collections import namedtuple

point = namedtuple('Point',['x' , 'y'])
firstPoint=point(4,3)
print(firstPoint[0]*firstPoint[1])
print(a.x)

12
4

In [13]:
print(firstPoint._fields)
print(firstPoint._asdict())

('x', 'y')
OrderedDict([('x', 4), ('y', 3)])

In [17]:
a = firstPoint._replace(x=100)
print(a)

Point(x=100, y=3)

# orderDict() Collections

In [2]:
from collections import OrderedDict
ordered_d = OrderedDict()
ordered_d['a']=1
ordered_d['b']=2
ordered_d['c']=3
print(ordered_d)

OrderedDict([('a', 1), ('b', 2), ('c', 3)])

In [4]:
from collections import OrderedDict
ordered = OrderedDict()
n = int(input('enter number of items: '))
for i in range(n):
    item = list(input('enter item with its price').split())
    x=' '.join(item[:-1])
    price = list(map(int,item[-1:]))
    
    if x in ordered:
        ordered[x]=price[0]+ordered[x]
    else:
        
        ordered[x]=price[0]

for i in ordered.items():
    print(*i)

enter number of items: 4
enter item with its priceapple 10
enter item with its pricecan can 20
enter item with its priceapple 90
enter item with its pricecan can 44
apple 100
can can 64

In [1]:
from collections import OrderedDict
words = OrderedDict()
for i in range(int(input())):
    x=input()
    if x in words.keys():
        words[x]=words[x]+1
    else:
        words[x] = 1
        
print(len(words.keys()))
print(*words.values())

2
a
d
2
1 1

# Collections.deque()

In [ ]:
>>> from collections import deque
a = deque('NUMBER')
print(a)
a.append(22)
print(a)
a.appendleft(3)
print(a)
a.pop()
print(a)
a.popleft()
print(a)
a.extend('1234')
print(a)
a.extendleft('891')
a.remove('M')
print(a)
a.reverse()
print(a)
a.rotate(-1)
print(a)

# Time and Date

In [1]:
import calendar
print(calendar.TextCalendar(firstweekday = 0).formatyear(2015))

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [2]:
import calendar
x = list(map(int,input().split()))
#enter month then day then year
print((calendar.day_name[calendar.weekday(x[2],x[0],x[1])]).upper())

4 8 1998
WEDNESDAY