<a href="https://colab.research.google.com/github/Mohammad-H-Zahrawi/Data-Science-Python-Libraries/blob/master/python%2Bnumpy%2Bpandas%2Bmatplotlib/3_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
# Series

In [1]:
import numpy as np
import pandas as pd

In [101]:
labels = ['USA','France','Spain']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [102]:
pd.Series(data = labels)

0       USA
1    France
2     Spain
dtype: object

In [103]:
pd.Series(arr,index = labels)

USA       10
France    20
Spain     30
dtype: int64

In [104]:
pd.Series(data=labels,index=d.keys())

a       USA
b    France
c     Spain
dtype: object

In [105]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [106]:
ser1 = pd.Series([1,2,3,10],index = ['USA', 'Germany','USSR', 'Japan'])
ser1

USA         1
Germany     2
USSR        3
Japan      10
dtype: int64

In [107]:
ser1+ser1

USA         2
Germany     4
USSR        6
Japan      20
dtype: int64

# DateFrame

In [108]:
arr = np.random.randint(20,size=(4,5))
arr

array([[13, 12, 15,  3, 17],
       [ 0, 15,  3,  0,  4],
       [11, 15,  4, 11,  7],
       [10,  1, 17, 12,  1]])

In [109]:
df = pd.DataFrame(arr,columns=['A','B','C','D','E'],index=['W','X','Y','Z'])
df

    A   B   C   D   E
W  13  12  15   3  17
X   0  15   3   0   4
Y  11  15   4  11   7
Z  10   1  17  12   1

In [110]:
df['B']

W    12
X    15
Y    15
Z     1
Name: B, dtype: int64

In [111]:
df[['C','D']]

    C   D
W  15   3
X   3   0
Y   4  11
Z  17  12

In [112]:
#this way is not recommended
df.D

W     3
X     0
Y    11
Z    12
Name: D, dtype: int64

In [113]:
df['new']=df['A']+df['B']
df

    A   B   C   D   E  new
W  13  12  15   3  17   25
X   0  15   3   0   4   15
Y  11  15   4  11   7   26
Z  10   1  17  12   1   11

In [114]:
df.drop('new',axis=1,inplace=True)
df

    A   B   C   D   E
W  13  12  15   3  17
X   0  15   3   0   4
Y  11  15   4  11   7
Z  10   1  17  12   1

In [115]:
df.drop('X')
df

    A   B   C   D   E
W  13  12  15   3  17
X   0  15   3   0   4
Y  11  15   4  11   7
Z  10   1  17  12   1

In [116]:
df.drop('X',inplace=True)
df

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
Z  10   1  17  12   1

In [117]:
df.loc['W']

A    13
B    12
C    15
D     3
E    17
Name: W, dtype: int64

In [118]:
df.loc[['W','Y']]

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7

In [119]:
df.iloc[0:2]

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7

In [120]:
df.loc['W','A']

13

In [121]:
df.loc[['W','Y'],['A','B']]

    A   B
W  13  12
Y  11  15

In [122]:
df.loc['X']=df.loc['Z']+df.loc['Y']
df

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
Z  10   1  17  12   1
X  21  16  21  23   8

# Conditional Selection

In [123]:
df

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
Z  10   1  17  12   1
X  21  16  21  23   8

In [124]:
df>5

      A      B      C      D      E
W  True   True   True  False   True
Y  True   True  False   True   True
Z  True  False   True   True  False
X  True   True   True   True   True

In [125]:
df[df>5]

    A     B     C     D     E
W  13  12.0  15.0   NaN  17.0
Y  11  15.0   NaN  11.0   7.0
Z  10   NaN  17.0  12.0   NaN
X  21  16.0  21.0  23.0   8.0

In [126]:
df[df['A']>7]

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
Z  10   1  17  12   1
X  21  16  21  23   8

In [127]:
df[df['A']>7]['D']

W     3
Y    11
Z    12
X    23
Name: D, dtype: int64

In [128]:
df[df['A']>7].loc['Y']

A    11
B    15
C     4
D    11
E     7
Name: Y, dtype: int64

In [129]:
df.loc['Y']>1

A    True
B    True
C    True
D    True
E    True
Name: Y, dtype: bool

In [130]:
df[df['A']>0][['B','D']]

    B   D
W  12   3
Y  15  11
Z   1  12
X  16  23

In [131]:
df[(df['A']>10)&(df['B']<20)]

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
X  21  16  21  23   8

## More Index Details

In [132]:
df

    A   B   C   D   E
W  13  12  15   3  17
Y  11  15   4  11   7
Z  10   1  17  12   1
X  21  16  21  23   8

In [133]:
df.reset_index()

  index   A   B   C   D   E
0     W  13  12  15   3  17
1     Y  11  15   4  11   7
2     Z  10   1  17  12   1
3     X  21  16  21  23   8

In [134]:
new_index = 'US Jordan Canada Japan'.split()

In [135]:
df['Countries']=new_index
df

    A   B   C   D   E Countries
W  13  12  15   3  17        US
Y  11  15   4  11   7    Jordan
Z  10   1  17  12   1    Canada
X  21  16  21  23   8     Japan

In [136]:
df.set_index('Countries',inplace=True)
df

            A   B   C   D   E
Countries
US         13  12  15   3  17
Jordan     11  15   4  11   7
Canada     10   1  17  12   1
Japan      21  16  21  23   8

# Multi-Index and Index Hierarchy

In [137]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [138]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [139]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.535013  2.286859
   2 -1.722305 -0.713549
   3 -0.385483 -0.725629
G2 1 -0.273735  0.641716
   2 -0.559723  0.205643
   3 -0.188598  0.700555

In [140]:
df.loc['G1']

          A         B
1  0.535013  2.286859
2 -1.722305 -0.713549
3 -0.385483 -0.725629

In [141]:
df.loc['G1'].loc[1]

A    0.535013
B    2.286859
Name: 1, dtype: float64

In [142]:
df.loc['G1'].loc[2]['A']

-1.7223048214815702

In [143]:
df.index.names

FrozenList([None, None])

In [144]:
df.index.names=['Group','Num']
df

                  A         B
Group Num
G1    1    0.535013  2.286859
      2   -1.722305 -0.713549
      3   -0.385483 -0.725629
G2    1   -0.273735  0.641716
      2   -0.559723  0.205643
      3   -0.188598  0.700555

In [145]:
df.xs('G1')

            A         B
Num
1    0.535013  2.286859
2   -1.722305 -0.713549
3   -0.385483 -0.725629

In [146]:
df.xs(['G1',1])

A    0.535013
B    2.286859
Name: (G1, 1), dtype: float64

In [147]:
df.xs(1,level='Num')

              A         B
Group
G1     0.535013  2.286859
G2    -0.273735  0.641716

# Missing Values

In [148]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [149]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [150]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [151]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [152]:
# any row contains two NAN or more, it will be deleted
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [153]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [154]:
df['A'].fillna(value=df['A'].mean(),inplace=True)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

In [155]:
df.fillna(value=df.mean())

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3

# Group by

In [156]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [157]:
df=pd.DataFrame(data)

In [158]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [159]:
df.groupby('Company')

In [160]:
by_company = df.groupby('Company')

In [161]:
by_company.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [162]:
by_company.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [163]:
by_company.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [164]:
by_company.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [165]:
by_company.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [166]:
by_company.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

# Merging, Joining, and Concatenating

In [167]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [168]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[0, 1, 2, 3])

In [169]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[0, 1, 2, 3])

In [170]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [171]:
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [172]:
df3

     A    B    C    D
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [173]:
pd.concat([df1,df2,df3])
#axis = 0 , they must have same columns

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [174]:
pd.concat([df1,df2,df3],axis=1)
#axis = 1 , they must have same rows

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [175]:
pd.concat([df1,df2,df3],axis=1,join='inner')

    A   B   C   D   A   B   C   D    A    B    C    D
0  A0  B0  C0  D0  A4  B4  C4  D4   A8   B8   C8   D8
1  A1  B1  C1  D1  A5  B5  C5  D5   A9   B9   C9   D9
2  A2  B2  C2  D2  A6  B6  C6  D6  A10  B10  C10  D10
3  A3  B3  C3  D3  A7  B7  C7  D7  A11  B11  C11  D11

In [176]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [177]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [178]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [179]:
pd.concat([left,right],axis=1)

  key   A   B key   C   D
0  K0  A0  B0  K0  C0  D0
1  K1  A1  B1  K1  C1  D1
2  K2  A2  B2  K2  C2  D2
3  K3  A3  B3  K3  C3  D3

In [180]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [181]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [182]:
pd.merge(left, right, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [183]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [184]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [185]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [186]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [187]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [188]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [189]:
right.join(left)

     C   D    A    B
K0  C0  D0   A0   B0
K2  C2  D2   A2   B2
K3  C3  D3  NaN  NaN

# Operations

In [190]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [191]:
df['col2'].unique()

array([444, 555, 666])

In [192]:
df['col2'].nunique()
#number of unique numbers

3

In [193]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [194]:
def times2(x):
    return x*2

In [195]:
df['col1']=df['col1'].apply(times2)

In [196]:
df

   col1  col2 col3
0     2   444  abc
1     4   555  def
2     6   666  ghi
3     8   444  xyz

In [197]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [198]:
del df['col1']

In [199]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [200]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [201]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [202]:
df.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [203]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [204]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [205]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [206]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

In [207]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [208]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [209]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# Data Input and Output

In [210]:
# df = pd.read_csv('example')
#example file must be in the same folder of the jupyter notebook

In [211]:
df.to_csv('example',index=False)
#create a new csv file

In [212]:
# pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')
# read an excel file in same directory of the jupyter file

#The End