<a href="https://colab.research.google.com/github/Mohammad-H-Zahrawi/Machine_Learning_Courses/blob/master/python%2Bnumpy%2Bpandas%2Bmatplotlib/python_crash_course_Mohammad_Zahrawi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

## strings

In [ ]:
name = "John"
age = "35"

In [ ]:
print('Hello World')
print("There once was a man named " + name + ",")
print("he was " + age + " years old,")
print("He really liked the name " + name + ",")
print("but didn't like being " + age + ".")

Hello World
There once was a man named John,
he was 35 years old,
He really liked the name John,
but didn't like being 35.

In [ ]:
print('Hello \nWorld')
print('Hello \"World')

Hello
World
Hello "World

In [ ]:
name = "United Arab Emirate"
print(name)
print(name.lower())
print(name.upper())

United Arab Emirate
united arab emirate
UNITED ARAB EMIRATE

Find length of variable name

In [ ]:
len(name)

20

Find the first letter of variable name

In [ ]:
print(name[0])

U

Find the location of word "Arab"

In [ ]:
print(name.index("Arab"))

7

Replace Emirate by Emirates

In [ ]:
print(name.replace('Emirate', 'Emirates'))

United Arab Emirates

## Numbers

In [ ]:
my_num = 5
print(str(my_num)+" my favorite number")

5 my favorite number

In [ ]:
print(10/3)
print(10%3)

3.3333333333333335
1

In [ ]:
num = -6
print(abs(num))
(print(pow(num,2)))

6
36

In [ ]:
print(max(10,2,5,11,65,82,10))
print('\n')
print(min(10,2,5,11,65,82,10))

82


2

In [ ]:
print(round(3.4))
print(round(3.7))
print(round(4.5))

3
4
4

In [ ]:
from math import *
print(ceil(3.1))
print(floor(5.8))
print(sqrt(64))

4
5
8.0

In [ ]:
name = input('enter your name')
age = input('enter your age')
print("Hello "+name+", "+"you are "+age)

enter your name bh
enter your agejj
Hello bh, you are jj

In [ ]:
num1 = input("enter a number")
num2 = input("enter another number")
result = float(num1)+float(num2)
print(result)

enter a number0.1
enter another number0.2
0.30000000000000004

In [ ]:
# Mad Libs Game
color=input("enter a color: ")
plural_noun=input("enter a plural noun: ")
celebrity = input("enter a celebrity: ")

print("Roses are " + color)
print(plural_noun + " are blue")
print("I love " + celebrity)

enter a color: red
enter a plural noun: cars
enter a celebrity: messi
Roses are red
cars are blue
I love messi

In [ ]:
# Mad Libs Game
color=input("ادخل لون ")
plural_noun=input("ادخل اسم جمع ")
celebrity = input("ادخل اسم شخصية مشهورة")

print("الورد لونه " + color)
print(plural_noun + " جميلة")
print("انا احب " + celebrity)

##Lists

In [ ]:
friends= ["Ahmad", "Omar", "Sarah", "Blaek"]
print(friends)
print(friends[1])

['Ahmad', 'Omar', 'Sarah', 'Blaek']
Omar

Print the last name in the list

In [ ]:
print(friends[-1])

Blaek

Print the first three names in the list

In [ ]:
print(friends[0:3])

['Ahmad', 'Omar', 'Sarah']

In [ ]:
print(friends[2:])
print(friends[1:2])

['Sarah', 'Blaek']
['Omar']

Change the first name in the list into Mike

In [ ]:
friends[0]='Mike'
print(friends)

['Mike', 'Omar', 'Sarah', 'Blaek']

In [ ]:
lucky_number=[1,5,8,4,2]
cars = ['Ford','Dodge','BMW','Mercedes','Ferrari']
cars.extend(lucky_number)
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2]

Add name "Audi" to the list

In [ ]:
cars.append('Audi')
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']

Insert name :Nissan at  the second in the list

In [ ]:
cars.insert(1,"Nissan")
print(cars)

['Ford', 'Nissan', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']

Delete "Nissan" from the list

In [ ]:
cars.remove('Nissan')
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2, 'Audi']

Delete last element

In [ ]:
cars.pop()
print(cars)

['Ford', 'Dodge', 'BMW', 'Mercedes', 'Ferrari', 1, 5, 8, 4, 2]

Find the location of "BMW"

In [ ]:
print(cars.index("BMW"))

2

In [ ]:
alphabet = ['a','b','c']
print(alphabet)

['a', 'b', 'c']

Delete all element from the list

In [ ]:
alphabet.clear()
print(alphabet)

[]

In [ ]:
alphabet = ['ali','book','zoo','BMW','19','ants','door','zoo']

Sort the list

In [ ]:
alphabet.sort()
alphabet

['19', 'BMW', 'ali', 'ants', 'book', 'door', 'zoo', 'zoo']

Count the word 'zoo'

In [ ]:
print(alphabet.count('zoo'))

2

Sort the list in reverse

In [ ]:
alphabet.reverse()
print(alphabet)

['zoo', 'zoo', 'door', 'book', 'ants', 'ali', 'BMW', '19']

Create a copy of the list and assign it to new variable "alpha"

In [ ]:
alpha=alphabet.copy()
print(alpha)

['zoo', 'zoo', 'door', 'book', 'ants', 'ali', 'BMW', '19']

## Tubles

In [ ]:
coordinates = (4,5,6,'Num')
print(coordinates)
print(coordinates[2])

(4, 5, 6, 'Num')
6

In [ ]:
coordinates = [(1,2) , (3 , 4) , (5 , 6)]
coordinates[1] = (9,16)

print(coordinates)

[(1, 2), (9, 16), (5, 6)]

##Dictionaries

In [ ]:
monthConversion ={
    "Sep":"September",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December"
}
print(monthConversion)

{'Sep': 'September', 'Oct': 'October', 'Nov': 'November', 'Dec': 'December'}

In [ ]:
print(monthConversion['Sep'])
print(monthConversion.get('Dec','not a valid key'))
print(monthConversion.get('Jann','not a valid key'))

September
December
not a valid key

In [ ]:
monthConversion.keys()

dict_keys(['Sep', 'Oct', 'Nov', 'Dec'])

In [ ]:
monthConversion.values()

dict_values(['September', 'October', 'November', 'December'])

## If Statement

In [ ]:
is_male = True
tall = True
if is_male and tall:
    print('you are a tall male')
elif is_male and not(tall):
    print('you are short male')
elif not(is_male) and (tall):
    print('you are tall female')
else:
    print('you are short female')

you are a tall male

In [ ]:
def max_num(num1, num2,num3):
    if num1 >= num2 and num1 >= num2:
        return num1
    elif num2>=num1 and num2 >= num3:
        return num2
    else:
        return num3

max_num(111 , 31 , 9)

111

In [ ]:
num1 = float(input('Enter first number'))
num2 = float(input('Enter second number'))
op = input('Enter operator')

if op=='+':
    print (num1+num2)
elif op=="-":
    print (num1-num2)
elif op=='/':
    print(num1/num2)
elif op=='*':
    print(num1*num2)
else:
    print('Invalid operator')

Enter first number5
Enter second number5
Enter operator+
10.0

## while Loop

In [ ]:
i = 1
while i <= 10:
    print(i)
    i = i+2

1
3
5
7
9

In [ ]:
secret_word = 'giraffe'
guess=''
count_guess = 0
count_limits=3
out_of_guesses = False
while guess != secret_word and not(out_of_guesses):
    count_guess = count_guess + 1
    if count_guess<=count_limits:
        guess = input('Enter a guess: ')
    else:
        out_of_guesses=True
if out_of_guesses:
    print("you lose!")
else:
    print("you win!")

Enter a guess: h
Enter a guess: g
Enter a guess: i
you lose!

In [ ]:
friends = ['John','Hennry', 'Mark']
for name in friends:
    print(name)

John
Hennry
Mark

In [ ]:
for index in range (5):
    print(index)

0
1
2
3
4

In [ ]:
for index in range (10 , 14):
    print(index)

10
11
12
13

In [ ]:
ABC=['A','B','C','D','E']
for index in range(len(ABC)):
    print(index)

0
1
2
3
4

In [ ]:
print(2**4)

16

In [ ]:
def raise_to_power(number,power):
    result = 1
    for index in range(power):
        result = result *number
    return result
print(raise_to_power(2,5))

32

## 2D lists

In [ ]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
print(number_grid[0])
print(number_grid[1][2])

[1, 2, 3]
6

In [ ]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]
for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [ ]:
def translate(phrase):
    translation = ''
    for letter in phrase:
        if letter =='A':
            translation = translation +'a'
        elif letter =='B':
            translation = translation +'b'
        elif letter == 'C':
                translation = translation + 'c'
        else:
            translation = translation + letter
    return translation

print(translate('MOHAMMAD HAS A NICE CAR'))

MOHaMMaD HaS a NIcE caR

## comments

In [ ]:
# this is a comment

In [ ]:
'''
and this one
'''

'\nand this one\n'

## Functions

In [ ]:
def say_hi(name,age):
    print('Hello '+name)
    print('you are '+age)
    
say_hi('Mohammad','22')
say_hi('Husni','50')

Hello Mohammad
you are 22
Hello Husni
you are 50

In [ ]:
def sum():
  x=input('first')
  y=input('second')
  return x+y

sum()

first4
second5

'45'

In [ ]:
def sum():
  x=input('first')
  y=input('second')
  return int(x)+int(y)

sum()

first4
second5

9

## TRY and EXCEPT

In [ ]:
try:
    number = int(input('Enter a number: '))
    print(number)
except:
    print('invalid Input')

Enter a number: 10
10

In [ ]:
try:
    number = int(input("enter a number: "))
    print(number)
    10/0
except ValueError:
    print('Invalid number')
except ZeroDivisionError:
    print('can not divide by zero')

## Modules and Pips

In [ ]:
import math
print(math.pi)

3.141592653589793

In [ ]:
math.exp(2)

7.38905609893065

In [ ]:
math.sin(math.pi/6)

0.49999999999999994

In [ ]:
(math.degrees(math.pi/6))

29.999999999999996

## sets

In [ ]:
l=[1,1,1,2,2,3,4,5,4,4,4]
print(set(l))

{1, 2, 3, 4, 5}

In [ ]:
s = set([1,2,3,4,5,6,7,8,9])
s.pop()   #removing first element
s.remove(9)
s.discard(8)
s.discard(5)
print(s)
s

{2, 3, 4, 6, 7}

{2, 3, 4, 6, 7}

## Others Notes

In [ ]:
#enter string more than 5 words

first,second,rest,*last = input().split()
print(first)
print(second)
print(*last)
print(rest)

I l O
I
l

O

In [ ]:
for _ in range(3):
    print('Mohammad')

Mohammad
Mohammad
Mohammad

In [ ]:
a='The Uae'
for i in range (len(a)):
    if a[i].islower():
        print(a[i])

h
e
a
e

In [ ]:
def swap_case(s):
    new_string = ' '
    for i in range(len(s)):
        if s[i].isupper():
            new_string=new_string+s[i].lower()
        elif s[i].islower():
            new_string=new_string+s[i].upper()
        else:
            new_string=new_string+s[i]
            
    return new_string



swap_case('I love cats')

' i LOVE CATS'

In [ ]:
string = ' Mohammad has a nice car'
split_str = string.split()
print(split_str)
joined_str = "-".join(split_str)
print(joined_str)

['Mohammad', 'has', 'a', 'nice', 'car']
Mohammad-has-a-nice-car

In [ ]:
txt = ",,,,,rrttgg..gg...banana.g...rgrr"
text = 'google,,,,'

x = txt.strip("r.,gt")
xx = text.rstrip(',')

print(x)
print(xx)

banana
google

In [ ]:
width = 50
print('Montaser'.ljust(width,'-'))
print("Montaser".rjust(width,'-'))
print('Montaser'.center(width,'+'))

Montaser------------------------------------------
------------------------------------------Montaser
+++++++++++++++++++++Montaser+++++++++++++++++++++

In [ ]:
li=['M','O','H','A','M','M','A','D',' ','I','S',' ', 'A',' ','G','E','N','I', 'U','S']
print(''.join(li))

MOHAMMAD IS A GENIUS

In [ ]:
x  , k = list(map(int,input().split()))
poly = input()
print(eval(poly)==k)

3 10
3*x+1
True

## zip function

In [ ]:
print(list(zip([1,2,3],['a','b','c'])))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
print(list(zip([1,2,3],'zah','kkk')))

[(1, 'z', 'k'), (2, 'a', 'k'), (3, 'h', 'k')]

## Map Fucnction & Lambda & filters

In [ ]:
our_list=['I','have','a nice car']
length =list(map(len,our_list))
print(length)

[1, 4, 10]

In [ ]:
our_list=[1,2,3,4,5,6]
length =list(map(lambda i : i*i,our_list))
print(length)

[1, 4, 9, 16, 25, 36]

In [ ]:
summ = lambda a, b, c: a + b + c
print(summ(1,2,3))

6

In [ ]:
summ(1,4,10)

15

In [ ]:
l = [10 , 20 , 30 , 40 , 50 , 60 , 70 , 80 , 90]
l = list(filter(lambda x: x > 10 and x < 80, l))
print(l)

[20, 30, 40, 50, 60, 70]

## reduce function

In [ ]:
import functools
fun = lambda x,y : x+y
r = functools.reduce(fun,[1,2,3,4,5,6])
print(r)

21

In [ ]:
import functools
r = functools.reduce(lambda x,y:x*y,[1,2,3,4,5,6])
print(r)

720

In [ ]:
import functools
fun = lambda x,y : x+y
r = functools.reduce(fun,[1,2,3,4,5,6],-10)
print(r)

11

In [ ]:
import functools
from fractions import gcd
#gcd : greatest common denominator
r = functools.reduce(gcd,[40,5,60])
print(r)

5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: fractions.gcd() is deprecated. Use math.gcd() instead.
  after removing the cwd from sys.path.

In [ ]:
#multiply fractions
from functools import reduce
from fractions import Fraction

n = int(input('how many fractions you want to calculate?'))
frac = []
for i in range(n):
    a,b = input('enter two numbers seperated by a space  ').split()
    a=int(a)
    b=int(b)
    frac.append(Fraction(a,b))
    
print(reduce(lambda x,y:x*y , frac))

how many fractions you want to calculate?3
enter two numbers seperated by a space  1 6
enter two numbers seperated by a space  1 7
enter two numbers seperated by a space  1 8
1/336